# Configuration file

####################
# block
####################

block {
    I:accelerator=1247
    I:armbot=4090
    I:battery=4091
    I:breaker=4094
    I:castingMold=1210
    I:centrifuge=1236
    I:chemicalExtractor=1239
    I:controlRod=1241
    I:conveyorBelt=1217
    I:crate=1204
    I:detector=1219
    I:dust=1201
    I:electricTurbine=1235
    I:electromagnet=1244
    I:engineeringTable=1203
    I:filter=1213
    I:firebox=1207
    I:fulmination=1248
    I:funnel=1246
    I:grate=1212
    I:grindingWheel=1222
    I:gutter=1211
    I:hotPlate=1208
    I:imprinter=1205
    I:industrialStone=1200
    I:manipulator=1218
    I:mechanicalPiston=1224
    I:millstone=1209
    I:mixer=1223
    I:mixture_aluminium=1258
    I:mixture_aluminum=1278
    I:mixture_ardite=1262
    I:mixture_cadmium=1252
    I:mixture_cobalt=1264
    I:mixture_copper=1270
    I:mixture_gold=1280
    I:mixture_indium=1272
    I:mixture_iron=1254
    I:mixture_lead=1266
    I:mixture_natural_aluminum=1256
    I:mixture_nickel=1268
    I:mixture_osmium=1282
    I:mixture_rutile=1260
    I:mixture_silver=1274
    I:mixture_tin=1276
    I:molten_aluminium=1257
    I:molten_aluminum=1277
    I:molten_ardite=1261
    I:molten_cadmium=1251
    I:molten_cobalt=1263
    I:molten_copper=1269
    I:molten_gold=1279
    I:molten_indium=1271
    I:molten_iron=1253
    I:molten_lead=1265
    I:molten_natural_aluminum=1255
    I:molten_nickel=1267
    I:molten_osmium=1281
    I:molten_rutile=1259
    I:molten_silver=1273
    I:molten_tin=1275
    I:motor=1231
    I:nuclearBoiler=1238
    I:placer=4093
    I:plasma=1243
    I:plasmaHeater=1240
    I:pump=1221
    I:quantumAssembler=1249
    I:radioactive=1233
    I:reactorCell=1237
    I:refinedDust=1202
    I:siren=1245
    I:solarPanel=4089
    I:sorter=1220
    I:tank=1214
    I:tesla=4092
    I:thermometer=1242
    I:thermopile=1232
    I:toxicWaste=1250
    I:turntable=1206
    I:uraniumOre=1234
    I:waterTurbine=1216
    I:windTurbine=1215
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_biomass=true
    B:Enabled_charger=true
    B:Enabled_devStaff=true
    B:Enabled_flour=true
    B:Enabled_gear=true
    B:Enabled_gearShaft=true
    B:Enabled_hammer=true
    B:Enabled_handCrank=true
    B:Enabled_imprint=true
    B:Enabled_levitator=true
    B:Enabled_multimeter=true
    B:Enabled_pipe=true
    B:Enabled_quantumGlyph=true
    B:Enabled_transformer=true
    B:Enabled_uranium=true
    B:Enabled_wire=true
}


####################
# general
####################

general {
    I:BlockIDPrefix=1200
    B:"Engineering Table Autocraft"=true
    I:ItemIDPrefix=20150
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
    B:allowAlternateRecipes=true
    B:allowIC2UraniumCompression=true
    B:allowOreDictCompatibility=true
    B:allowOreDictionaryCompatibility=true
    B:allowRadioactiveOres=true
    B:allowToxicWaste=true
    B:allowTurbineStacking=true
    D:darkMatterSpawnChance=0.2
    I:deutermiumPerTritium=4
    D:fissionBoilVolumeMultiplier=1.0
    D:fulminationOutputMultiplier=1.0
    D:grateDrainSpeedMultiplier=0.01
    D:grateEffectMultiplier=5.0
    I:mechanicalPistonBreakCount=5
    I:plasmaHeatAmount=100
    I:plasmaMaxTemperature=1000000
    I:quantumAssemblerGenerateMode=1
    I:quantumAssemblerRecipes <
     >
    D:turbineOutputMultiplier=1.0
    I:uraniumHexaflourideRatio=200
    I:waterPerDeutermium=4
}


####################
# item
####################

item {
    I:HazmatBody=20173
    I:HazmatBoots=20175
    I:HazmatBottom=20174
    I:HazmatTop=20172
    I:"Toxic Waste Bucket"=20186
    I:antimatter=20182
    I:biomass=20155
    I:bucketMixture=20153
    I:bucketMolten=20154
    I:cellDeuterium=20178
    I:cellEmpty=20176
    I:cellTritium=20179
    I:cellWater=20180
    I:charger=20167
    I:darkMatter=20181
    I:devStaff=20156
    I:flour=20157
    I:gear=20161
    I:gearShaft=20162
    I:hammer=20160
    I:handCrank=20158
    I:imprint=20159
    I:insulation=20169
    I:laserDrill=20170
    I:levitator=20168
    I:multimeter=20165
    I:oreDust=20151
    I:oreRefinedDust=20152
    I:oreRubble=20150
    I:pipe=20163
    I:quantumGlyph=20171
    I:rodBreederFuel=20183
    I:rodFissileFuel=20177
    I:transformer=20166
    I:uranium=20185
    I:wire=20164
    I:yellowcake=20184
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Uranium Ore"=true
}


####################
# power
####################

power {
    I:Solor_Panel=50
    I:Water_tubine_Ratio=1
    I:Wind_tubine_Ratio=1
}


####################
# resource_generator
####################

resource_generator {
    B:"Enable Aluminium"=true
    B:"Enable AluminiumBrass"=true
    B:"Enable Aluminum"=true
    B:"Enable AluminumBrass"=true
    B:"Enable Alumite"=true
    B:"Enable Ardite"=true
    B:"Enable Blutonium"=true
    B:"Enable Bronze"=true
    B:"Enable Cadmium"=true
    B:"Enable Chrome"=true
    B:"Enable Cobalt"=true
    B:"Enable ConductiveIron"=true
    B:"Enable Copper"=true
    B:"Enable Cyanite"=true
    B:"Enable ElectricalSteel"=true
    B:"Enable Electrum"=true
    B:"Enable ElectrumFlux"=true
    B:"Enable Enderium"=true
    B:"Enable EnergeticAlloy"=true
    B:"Enable FzDarkIron"=true
    B:"Enable Gold"=true
    B:"Enable Graphite"=true
    B:"Enable HSLA"=true
    B:"Enable Indium"=true
    B:"Enable Invar"=true
    B:"Enable Iridium"=true
    B:"Enable Iron"=true
    B:"Enable Lead"=true
    B:"Enable Magnesium"=true
    B:"Enable Manyullyn"=true
    B:"Enable Meat"=true
    B:"Enable MeatRaw"=true
    B:"Enable NaturalAluminum"=true
    B:"Enable Nickel"=true
    B:"Enable Obsidian"=true
    B:"Enable Osmium"=true
    B:"Enable PigIron"=true
    B:"Enable Platinum"=true
    B:"Enable Plutonium"=true
    B:"Enable PulsatingIron"=true
    B:"Enable RefinedGlowstone"=true
    B:"Enable RefinedObsidian"=true
    B:"Enable Rutile"=true
    B:"Enable Silver"=true
    B:"Enable Steel"=true
    B:"Enable Thaumium"=true
    B:"Enable Tin"=true
    B:"Enable Titanium"=true
    B:"Enable Tungsten"=true
    B:"Enable Unstable"=true
    B:"Enable Uranium"=true
    B:"Enable VibrantAlloy"=true
    B:"Enable Yellorium"=true
    B:"Enable Zinc"=true
    B:Enable_All=true
    B:Enabled_All_Fluids=true
}


