# Configuration file

####################
# block
####################

block {
    I:"Air Blocks"=1007
    I:"Coral & Kelp"=1008
    I:"Custom Blocks"=1009
    I:"Custom Fence"=1010
    I:"Custom Flooring"=1011
    I:"Custom Gate"=1012
    I:"Custom Light"=1013
    I:"Custom RF Block"=1014
    I:"Custom Slabs Double"=1015
    I:"Custom Slabs Single"=1016
    I:"Custom Stairs"=1017
    I:"Custom Wall"=1018
    I:"Double Blocks"=1019
    I:"Earthy Blocks"=1020
    I:"Glass Blocks"=1021
    I:"High Pressure Water"=1022
    I:"Limestone Variants"=1023
    I:"Machine Blocks"=1024
    I:"Neon Lamps Off"=1025
    I:"Neon Lamps On"=1026
    I:"Ore Blocks"=1027
    I:Oyster=1028
    I:"Pearl Bricks"=1029
    I:"Pearl Bricks - Legacy"=1030
    I:Sifter=1031
    I:"Single Blocks"=1032
    I:"Tank Blocks"=1033
    I:"Transparent Blocks"=1034
    I:"Wooden Blocks"=1035
}


####################
# enchantments
####################

enchantments {
    I:"1 Up"=107
    I:Blink=108
    I:"Fall Resistance"=109
    I:Inferno=110
    I:Leapfrog=111
    I:"Luck of the Irish"=112
    I:"Never Hungry"=113
    I:Paraglide=114
    I:"Poison Ivy"=115
    I:"Power Punch"=116
    I:Reaper=117
    I:Restoration=118
    I:"Sonic the Hedgehog"=119
    I:Spiderman=120
    I:"Step Up"=121
    I:Superman=122
    I:"The One Ring"=123
    I:Timelord=124
}


####################
# item
####################

item {
    I:"Aquatic Backpack T1"=29015
    I:"Aquatic Backpack T2"=29016
    I:Bait=29008
    I:"Basic Mirror"=29002
    I:Battery=29006
    I:"Battery(Copper)"=29066
    I:Bracelets=29018
    I:"Celestial Mirror"=29004
    I:Chalk=29071
    I:"Diving - Boots"=29023
    I:"Diving - Breathing Tube"=29021
    I:"Diving - Helmet"=29020
    I:"Diving - Suit"=29022
    I:FLUDD=29032
    I:"Fish - Living"=29012
    I:"Fish - Raw"=29013
    I:"Fish Scanner"=29074
    I:"Fishing Net"=29030
    I:"Fishing Rod - Blood"=29072
    I:"Fishing Rod - Flux"=29058
    I:"Fishing Rod - Reed"=29009
    I:"Fishing Rod - Titanium"=29011
    I:"Fishing Rod - Wood"=29010
    I:Food=29007
    I:"General Items"=29001
    I:Guidebooks=29067
    I:"Item Filter"=29059
    I:Ladle=29068
    I:"Liquid Containers"=29028
    I:"Magic Mirror"=29003
    I:Magnet=29069
    I:Materials=29000
    I:Necklaces=29019
    I:Paintbrush=29033
    I:"Pearl Hammer"=29064
    I:Pearls=29005
    I:Plans=29031
    I:Rings=29017
    I:"Rotor - Aluminum"=29061
    I:"Rotor - Copper"=29060
    I:"Rotor - Titanium"=29062
    I:"Scuba - Flippers"=29027
    I:"Scuba - Mask"=29024
    I:"Scuba - Tank"=29025
    I:"Scuba - Wetsuit"=29026
    I:Snorkel=29063
    I:"Speed Boat"=29014
    I:"TiC Titanium - Arrowhead"=29034
    I:"TiC Titanium - Axe Head"=29035
    I:"TiC Titanium - Binding"=29037
    I:"TiC Titanium - Broad Axe Head"=29049
    I:"TiC Titanium - Chisel Head"=29038
    I:"TiC Titanium - Crossbar"=29040
    I:"TiC Titanium - Excavator Head"=29041
    I:"TiC Titanium - Full Guard"=29043
    I:"TiC Titanium - Hammer Head"=29044
    I:"TiC Titanium - Hand Guard"=29050
    I:"TiC Titanium - Knife Blade"=29045
    I:"TiC Titanium - Large Plate"=29048
    I:"TiC Titanium - Large Sword Blade"=29047
    I:"TiC Titanium - Pan"=29042
    I:"TiC Titanium - Pickaxe Head"=29051
    I:"TiC Titanium - Scythe Head"=29052
    I:"TiC Titanium - Shard"=29039
    I:"TiC Titanium - Shovel Head"=29053
    I:"TiC Titanium - Sign Head"=29036
    I:"TiC Titanium - Sword Blade"=29054
    I:"TiC Titanium - Tool Rod"=29055
    I:"TiC Titanium - Tough Binding"=29056
    I:"TiC Titanium - Tough Rod"=29057
    I:"TiC Titanium - Wide Guard"=29046
    I:"Titanium Bucket"=29070
    I:Upgrades=29029
    I:"Wall Art"=29073
    I:"Worked Item"=29065
}


